.outlet {
    border: 1px solid darken($outlet_background_color, 5%);
    background-color: $outlet_background_color;
    color: #fff;
    padding: 1px;
    text-align: center;
    display: none;
}

body.plugin-outlets-visible .outlet {
    display: block;
}
